-i https://pypi.org/simple
aiodns
aiohttp
aiosignal
async-timeout
attrs
brotli
cairocffi
cairosvg
certifi
cffi
charset-normalizer
colorama
cssselect2
defusedxml
discord.py[speed]
dnspython
emoji
frozenlist
idna
isodate
lottie[pdf]
motor
multidict
natural
orjson
packaging
parsedatetime
Pillow==9.5.0 --only-binary :all:
pycares
pycparser
pymongo[srv]
python-dateutil
python-dotenv
requests
six
tinycss2
urllib3
uvloop; sys_platform != 'win32'
webencodings
yarl
flask>=2.3.3
sanic>=23.12.1
